<!DOCTYPE html>
<html>
  <head>
    <title>Spaces</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:api_map_key]}"%>
    

    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sriracha&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" integrity="sha384-REHJTs1r2ErKBuJB0fCK99gCYsVjwxHrSU0N7I1zl9vZbggVJXRMsv/sLlOAGb4M" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css"/>

    <link rel="icon" type="image/png" href="<%= image_url('favicon1.png') %>">
  </head>

  <body>


    <script type="text/javascript">
      

      window.logo = "<%= image_url('favicon.png') %>"
      window.logo1 = "<%= image_url('favicon1.png') %>"

      window.home = "<%= image_url('home.png') %>"
      window.meetings = "<%= image_url('meetings.png') %>"
      window.filmshoots = "<%= image_url('filmshoots.png') %>"
      window.birthdayparties = "<%= image_url('birthday.png') %>"
      window.photoshoots = "<%= image_url('photoshoots.png') %>"
      window.workshops = "<%= image_url('workshops.png') %>"
      window.babyshower = "<%= image_url('babyshower.png') %>"
      window.dinners = "<%= image_url('dinners.png') %>"
      window.weddings = "<%= image_url('weddings.png') %>"
      window.teamoffsites = "<%= image_url('teamofsides.png') %>"
      window.launchparties = "<%= image_url('launchparties.png') %>"
      window.outdoorevents = "<%= image_url('outdoor.png') %>"
      window.performances = "<%= image_url('performances.png') %>"
      window.getstarted = "<%= image_url('getstarted.png') %>"


      window.specialevents = "<%= image_url('specialevents.png') %>"
      window.eventsbg = "<%= image_url('events-bg.png') %>"
      window.footerlogo = "<%= image_url('footerlogo.png') %>"

      window.hostshare = "<%= image_url('hostshare.png') %>"
      window.homes = "<%= image_url('homes.png') %>"
      window.lofts = "<%= image_url('lofts.png') %>"
      window.studios = "<%= image_url('studios.png') %>"
      window.warehouses = "<%= image_url('warehouses.png') %>"
      window.galleries = "<%= image_url('galleries.png') %>"
      window.bars = "<%= image_url('bars.png') %>"
      window.coworking = "<%= image_url('coworking.png') %>"
      window.venues = "<%= image_url('venues.png') %>"

      window.gotyourback = "<%= image_url('gotyourback.png') %>"
      window.user = "<%= image_url('user.png') %>"
      window.temporal = "<%= image_url('temporal.jpg') %>"

      // Marker SVG
      window.marker = "<%= asset_path('marker.svg') %>"
      window.star = "<%= asset_path('star.svg') %>"
      window.person = "<%= asset_path('person.svg') %>"
      window.time = "<%= asset_path('time.svg') %>"
      window.sqft = "<%= asset_path('sqft.svg') %>"
      
      window.wifi = "<%= asset_path('wifi.svg') %>"
      window.table = "<%= asset_path('table.svg') %>"
      window.chair = "<%= asset_path('chair.svg') %>"
      window.projector = "<%= asset_path('projector.svg') %>"
      window.screen = "<%= asset_path('screen.svg') %>"
      window.whiteboard = "<%= asset_path('whiteboard.svg') %>"
      window.conference_phone = "<%= asset_path('conference_phone.svg') %>"
      window.printer = "<%= asset_path('printer.svg') %>"
      window.coffee = "<%= asset_path('coffee.svg') %>"
      window.restrooms = "<%= asset_path('restrooms.svg') %>"
      window.breakout_room = "<%= asset_path('breakout_room.svg') %>"
      window.kitchen = "<%= asset_path('kitchen.svg') %>"
      window.public_transit = "<%= asset_path('public_transit.svg') %>"
      window.handicap_access = "<%= asset_path('handicap_access.svg') %>"


      //API KEYS
      window.googleAPIKey = "<%= Rails.application.credentials.google[:api_key] %>"
      
    </script>
    <%= yield %>

  </body>
</html>
